<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <title>TO DO List</title>
        <link href="libs/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
        <link href="libs/bootstrap-3.3.5-dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="css/custom.css" rel="stylesheet" />
    </head>
    <body ng-controller="TodoController">
        <div class="mainpanel">
            <div class="page-header">
                <h1>
					TODO list for: {{todo.user}}
				</h1>	
				<span class="label label-default">All: {{todo.items.length}}</span>
				<span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0">Incomplete: {{incompleteCount()}}</span>
            </div>
            <div class="panel">
                <div class="input-group">
                    <input class="form-control"  ng-model="actionText"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
                    </span>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>&nbsp;</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody>
						<!--<tr ng-repeat="item in todo.items | filter: {done: false} | orderBy: 'action'">-->
						<tr ng-repeat="item in todo.items | checkedItems: showComplete | orderBy: 'action'">
							<td>{{item.action}}</td>
							<td>
								<input type="checkbox" ng-model="item.done" />
							</td>
							<td>{{item.done}}</td>
						</tr>
                    </tobdy>
                </table>
				
					<div class="checkbox-inline">		
						<label class=" label label-primary"><input type="checkbox" ng-model="showComplete"/>: show completed</label>
					</div>
				</div>
				
            </div>
        </div>
		
        <script src="libs/angular/angular.js"></script>
        <script src="javascript/todoApp.js"></script>
        <script src="javascript/angular/controller/TodoController.js"></script>
        <script src="javascript/angular/filter/checkedItems.js"></script>
	
    </body>
</html>
